.header {
  color: white;
  background-color: #007aff;
  height: 800px;
  border-bottom-left-radius: 15%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .header__logo {
    padding-left: 20px; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 50px 20%; }
    @media screen and (max-width: 1700px) {
      .header__top {
        padding: 50px 15%; } }
    @media screen and (max-width: 1220px) {
      .header__top {
        padding: 50px 10px; } }
    @media screen and (max-width: 850px) {
      .header__top {
        padding: 50px 10%; } }
    @media screen and (max-width: 550px) {
      .header__top {
        padding: 10% 5%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .header__hire > a {
    color: white;
    display: inline-block;
    border-bottom: 2px #ff9f8e solid;
    padding-bottom: 6px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .header__hire > a:hover {
      border-bottom: 2px white solid;
      color: #ff9f8e;
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
      opacity: 80%; }
    .header__hire > a:focus {
      outline: none;
      color: #253757; }
    @media screen and (max-width: 550px) {
      .header__hire > a {
        display: none; } }
  .header__title {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 30%;
    height: 30%;
    margin-right: 5%;
    text-align: left; }
    @media screen and (max-width: 850px) {
      .header__title {
        top: 15%;
        left: 15%; }
        .header__title-button {
          width: 100%; } }
    @media screen and (max-width: 1000px) {
      .header__title {
        width: 50%;
        left: 5%;
        position: center; } }
    .header__title-main {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 64px;
      line-height: 106%;
      letter-spacing: -2px; }
    .header__title-text {
      font-family: "Open Sans", sans-serif;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      margin-top: 20px; }
    .header__title-button {
      display: block;
      padding: 13px 70px;
      text-decoration: none;
      color: white;
      background: #ff9f8e;
      border-radius: 64px;
      font-family: "Poppins", sans-serif;
      margin-top: 80px;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      width: 30%;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .header__title-button:hover {
        padding: 11px 68px;
        background-color: #007aff;
        border: #ff9f8e 2px solid;
        color: #ff9f8e;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .header__title-button:focus {
        -webkit-box-shadow: 18px -5px 57px -1px white;
                box-shadow: 18px -5px 57px -1px white;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      @media screen and (max-width: 850px) {
        .header__title-button {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          width: 90%;
          -ms-flex-item-align: center;
              align-self: center;
          margin-top: 30px; } }
  .header__slider {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 687px;
    height: 680px;
    background-image: url("../images/slider/2.png");
    background-size: cover;
    border-radius: 225px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-position: center; }
    @media screen and (max-width: 1000px) {
      .header__slider {
        width: 45%; } }
    @media screen and (max-width: 850px) {
      .header__slider {
        width: 100%;
        height: 40%;
        display: block;
        border-radius: 0 0 0 15%; } }
    .header__slider-title, .header__slider-info {
      position: absolute;
      bottom: 60px;
      left: 20%; }
      @media screen and (max-width: 850px) {
        .header__slider-title, .header__slider-info {
          left: 15%; } }
    .header__slider-title {
      margin-bottom: 20px;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase; }
    .header__slider-info {
      margin-top: 20px;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 140%; }
    .header__slider-switch {
      display: inline-block;
      color: #253757;
      background-color: white;
      position: absolute;
      bottom: 65px;
      left: 5%;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 25px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;
      background-image: url("../images/slider/Vector.jpg");
      -webkit-transition: all 0.6s;
      transition: all 0.6s;
      background-position: center;
      background-repeat: no-repeat; }
      .header__slider-switch:hover {
        -webkit-transform: rotate(360deg) scale(1.1);
                transform: rotate(360deg) scale(1.1); }
    .header__slider-switch:last-child {
      margin-left: 40px;
      background-image: url("../images/slider/Ellipse 4.jpg");
      background-position: center;
      background-repeat: no-repeat; }
    @media screen and (max-width: 950px) {
      .header__slider-switch {
        position: absolute;
        bottom: 15px;
        left: 30%; } }

.nav {
  padding: 0 5%; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    @media screen and (max-width: 850px) {
      .nav__list {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -ms-flex-line-pack: baseline;
            align-content: baseline;
        width: 100%;
        height: 50%;
        display: none;
        position: absolute;
        bottom: 380px;
        top: 10%;
        z-index: 2;
        background-color: rgba(255, 159, 142, 0.9);
        border-bottom-right-radius: 25%;
        border-top-left-radius: 25%; } }
    @media screen and (max-width: 550px) {
      .nav__list {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -ms-flex-line-pack: baseline;
            align-content: baseline;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        display: none;
        position: absolute;
        right: 0;
        top: 10%;
        z-index: 2;
        background-color: #ff9f8e;
        border-bottom-right-radius: 25%; } }
  .nav__elem {
    font: "Poppins", sans-serif;
    margin: 0 32px;
    list-style-type: none;
    letter-spacing: 2px; }
    @media screen and (max-width: 1220px) {
      .nav__elem {
        margin: 0 15px; } }
    @media screen and (max-width: 850px) {
      .nav__elem {
        margin: 30px 40px;
        width: 100%;
        font-size: 30px; } }
    @media screen and (max-width: 550px) {
      .nav__elem {
        text-align: center;
        letter-spacing: 4px;
        width: 100%;
        font-size: 35px; } }
  .nav__link {
    position: relative;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    text-transform: uppercase;
    text-decoration: none;
    color: white; }
    .nav__link:hover {
      color: gray;
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }

.menu__toggle {
  display: none; }

@media screen and (max-width: 850px) {
  .menu__span {
    display: block;
    position: absolute;
    bottom: calc(125% + 6px);
    width: 100%;
    height: 4px;
    background-color: white;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; } }
  @media screen and (max-width: 850px) and (max-width: 500px) {
    .menu__span {
      left: 120px; } }

@media screen and (max-width: 850px) {
    .menu__span::before, .menu__span::after {
      display: block;
      position: absolute;
      bottom: calc(125% + 6px);
      width: 100%;
      height: 4px;
      background-color: white;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s; }
    .menu__span::before {
      content: " ";
      top: -8px; }
    .menu__span::after {
      content: " ";
      top: 8px; }
  .menu__toggle:checked ~ .menu__btn > .menu__span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .menu__toggle {
    opacity: 0;
    top: -20%;
    display: inline; }
  .menu__toggle:checked ~ .menu__btn > .menu__span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .menu__toggle:checked ~ .menu__btn > .menu__span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .menu__toggle:checked ~ .nav__list {
    display: inline; }
  .menu__btn {
    display: block;
    position: relative;
    margin: 10px auto;
    right: 5px;
    width: 40px;
    height: 30px;
    cursor: pointer;
    z-index: 1; } }

/*# sourceMappingURL=header.css.map */
