html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

a:focus {
  outline: none;
  color: #253757; }

input:focus {
  outline: none;
  border-bottom: #253757 2px solid; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.header {
  color: white;
  background-color: #007aff;
  height: 800px;
  border-bottom-left-radius: 15%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .header__logo {
    padding-left: 20px; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 50px 20%; }
    @media screen and (max-width: 1700px) {
      .header__top {
        padding: 50px 15%; } }
    @media screen and (max-width: 1220px) {
      .header__top {
        padding: 50px 10px; } }
    @media screen and (max-width: 850px) {
      .header__top {
        padding: 50px 10%; } }
    @media screen and (max-width: 550px) {
      .header__top {
        padding: 10% 5%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .header__hire > a {
    color: white;
    display: inline-block;
    border-bottom: 2px #ff9f8e solid;
    padding-bottom: 6px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .header__hire > a:hover {
      border-bottom: 2px white solid;
      color: #ff9f8e;
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
      opacity: 80%; }
    .header__hire > a:focus {
      outline: none;
      color: #253757; }
    @media screen and (max-width: 550px) {
      .header__hire > a {
        display: none; } }
  .header__title {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 30%;
    height: 30%;
    margin-right: 5%;
    text-align: left; }
    @media screen and (max-width: 850px) {
      .header__title {
        top: 15%;
        left: 15%; }
        .header__title-button {
          width: 100%; } }
    @media screen and (max-width: 1000px) {
      .header__title {
        width: 50%;
        left: 5%;
        position: center; } }
    .header__title-main {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 64px;
      line-height: 106%;
      letter-spacing: -2px; }
    .header__title-text {
      font-family: "Open Sans", sans-serif;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      margin-top: 20px; }
    .header__title-button {
      display: block;
      padding: 13px 70px;
      text-decoration: none;
      color: white;
      background: #ff9f8e;
      border-radius: 64px;
      font-family: "Poppins", sans-serif;
      margin-top: 80px;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      width: 30%;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .header__title-button:hover {
        padding: 11px 68px;
        background-color: #007aff;
        border: #ff9f8e 2px solid;
        color: #ff9f8e;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .header__title-button:focus {
        -webkit-box-shadow: 18px -5px 57px -1px white;
                box-shadow: 18px -5px 57px -1px white;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      @media screen and (max-width: 850px) {
        .header__title-button {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          width: 90%;
          -ms-flex-item-align: center;
              align-self: center;
          margin-top: 30px; } }
  .header__slider {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 687px;
    height: 680px;
    background-image: url("../images/slider/2.png");
    background-size: cover;
    border-radius: 225px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-position: center; }
    @media screen and (max-width: 1000px) {
      .header__slider {
        width: 45%; } }
    @media screen and (max-width: 850px) {
      .header__slider {
        width: 100%;
        height: 40%;
        display: block;
        border-radius: 0 0 0 15%; } }
    .header__slider-title, .header__slider-info {
      position: absolute;
      bottom: 60px;
      left: 20%; }
      @media screen and (max-width: 850px) {
        .header__slider-title, .header__slider-info {
          left: 15%; } }
    .header__slider-title {
      margin-bottom: 20px;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase; }
    .header__slider-info {
      margin-top: 20px;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 140%; }
    .header__slider-switch {
      display: inline-block;
      color: #253757;
      background-color: white;
      position: absolute;
      bottom: 65px;
      left: 5%;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 25px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;
      background-image: url("../images/slider/Vector.jpg");
      -webkit-transition: all 0.6s;
      transition: all 0.6s;
      background-position: center;
      background-repeat: no-repeat; }
      .header__slider-switch:hover {
        -webkit-transform: rotate(360deg) scale(1.1);
                transform: rotate(360deg) scale(1.1); }
    .header__slider-switch:last-child {
      margin-left: 40px;
      background-image: url("../images/slider/Ellipse 4.jpg");
      background-position: center;
      background-repeat: no-repeat; }
    @media screen and (max-width: 950px) {
      .header__slider-switch {
        position: absolute;
        bottom: 15px;
        left: 30%; } }

.nav {
  padding: 0 5%; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    @media screen and (max-width: 850px) {
      .nav__list {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -ms-flex-line-pack: baseline;
            align-content: baseline;
        width: 100%;
        height: 50%;
        display: none;
        position: absolute;
        bottom: 380px;
        top: 10%;
        z-index: 2;
        background-color: rgba(255, 159, 142, 0.9);
        border-bottom-right-radius: 25%;
        border-top-left-radius: 25%; } }
    @media screen and (max-width: 550px) {
      .nav__list {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -ms-flex-line-pack: baseline;
            align-content: baseline;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        display: none;
        position: absolute;
        right: 0;
        top: 10%;
        z-index: 2;
        background-color: #ff9f8e;
        border-bottom-right-radius: 25%; } }
  .nav__elem {
    font: "Poppins", sans-serif;
    margin: 0 32px;
    list-style-type: none;
    letter-spacing: 2px; }
    @media screen and (max-width: 1220px) {
      .nav__elem {
        margin: 0 15px; } }
    @media screen and (max-width: 850px) {
      .nav__elem {
        margin: 30px 40px;
        width: 100%;
        font-size: 30px; } }
    @media screen and (max-width: 550px) {
      .nav__elem {
        text-align: center;
        letter-spacing: 4px;
        width: 100%;
        font-size: 35px; } }
  .nav__link {
    position: relative;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    text-transform: uppercase;
    text-decoration: none;
    color: white; }
    .nav__link:hover {
      color: gray;
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }

.menu__toggle {
  display: none; }

@media screen and (max-width: 850px) {
  .menu__span {
    display: block;
    position: absolute;
    bottom: calc(125% + 6px);
    width: 100%;
    height: 4px;
    background-color: white;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; } }
  @media screen and (max-width: 850px) and (max-width: 500px) {
    .menu__span {
      left: 120px; } }

@media screen and (max-width: 850px) {
    .menu__span::before, .menu__span::after {
      display: block;
      position: absolute;
      bottom: calc(125% + 6px);
      width: 100%;
      height: 4px;
      background-color: white;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s; }
    .menu__span::before {
      content: " ";
      top: -8px; }
    .menu__span::after {
      content: " ";
      top: 8px; }
  .menu__toggle:checked ~ .menu__btn > .menu__span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .menu__toggle {
    opacity: 0;
    top: -20%;
    display: inline; }
  .menu__toggle:checked ~ .menu__btn > .menu__span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .menu__toggle:checked ~ .menu__btn > .menu__span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .menu__toggle:checked ~ .nav__list {
    display: inline; }
  .menu__btn {
    display: block;
    position: relative;
    margin: 10px auto;
    right: 5px;
    width: 40px;
    height: 30px;
    cursor: pointer;
    z-index: 1; } }

.section_about {
  padding: 10% 20%;
  text-align: left; }
  .section_about-heading {
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757; }
  .section_about-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b; }

@media screen and (max-width: 1000px) {
  .section_about {
    padding: 5% 10%;
    text-align: justify; } }

@media screen and (max-width: 1000px) {
  .section_about {
    padding: 2% 5%;
    text-align: center; } }

.section_expertise {
  background-color: white;
  padding-top: 10%; }
  .section_expertise-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    text-align: center;
    color: #253757; }
  .section_expertise_content {
    padding: 65px 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 1000px) {
      .section_expertise_content {
        padding: 5%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .section_expertise_content_box {
    margin-right: 10%;
    text-align: center; }
    @media screen and (max-width: 1000px) {
      .section_expertise_content_box {
        width: 90%;
        margin: 20px auto; } }
    .section_expertise_content_box:last-child {
      margin-right: 0; }
    .section_expertise_content_box-img {
      width: 184px;
      height: 166px;
      border-radius: 25%;
      margin-bottom: 40px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .section_expertise_content_box-img:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        border-radius: 10%; }
    .section_expertise_content_box-title {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: #253757;
      margin-bottom: 15px; }
    .section_expertise_content_box-text {
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 150%;
      color: #6c788b; }

@media screen and (max-width: 1000px) {
  .section_expertise {
    padding: 10%; } }

.section_process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 150px 10% 45px; }
  @media screen and (max-width: 1000px) {
    .section_process {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .section_process_title {
    width: 50%;
    margin-top: 100px; }
    @media screen and (max-width: 1000px) {
      .section_process_title {
        width: 90%;
        margin: 0 15%;
        padding-bottom: 50px; } }
    .section_process_title-headerSmall {
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      text-align: left;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #c0cdd7;
      margin-bottom: 15px; }
      @media screen and (max-width: 1000px) {
        .section_process_title-headerSmall {
          width: 90%;
          text-align: center; } }
    .section_process_title-headerBig {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      text-align: left;
      color: #253757;
      margin-bottom: 24px; }
      @media screen and (max-width: 1000px) {
        .section_process_title-headerBig {
          width: 90%;
          text-align: center; } }
    .section_process_title-text {
      text-align: left;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 150%;
      color: #6c788b; }
      @media screen and (max-width: 1000px) {
        .section_process_title-text {
          width: 90%;
          text-align: center; } }
  .section_process_blocks {
    display: grid;
    grid-template-rows: repeat(2, 230px);
    grid-template-columns: repeat(2, 230px);
    position: relative;
    grid-gap: 30px;
    margin-left: 8%;
    text-align: left;
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media screen and (max-width: 1000px) {
      .section_process_blocks {
        width: 90%;
        padding-bottom: 50px;
        grid-gap: 15%;
        -ms-flex-line-pack: center;
            align-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media screen and (max-width: 800px) {
      .section_process_blocks {
        width: 50%;
        padding-bottom: 50px;
        grid-gap: 15px;
        margin: 0 5%;
        grid-template-rows: repeat(4, 230px);
        grid-template-columns: repeat(1, 230px);
        -ms-flex-line-pack: center;
            align-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (max-width: 600px) {
      .section_process_blocks {
        width: 80%;
        padding-bottom: 50px;
        grid-gap: 15px;
        margin: 0 5%;
        grid-template-rows: repeat(4, 230px);
        grid-template-columns: repeat(1, 230px);
        -ms-flex-line-pack: center;
            align-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .section_process_blocks-block {
      position: relative;
      background: white;
      -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
              box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
      border-radius: 24px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 22px; }
      .section_process_blocks-block:hover {
        -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.3);
                box-shadow: 0 9px 18px rgba(37, 41, 49, 0.3); }
      @media screen and (max-width: 600px) {
        .section_process_blocks-block {
          width: 90%;
          margin: 10px 5%;
          padding: 22px; } }
      .section_process_blocks-block:nth-child(odd) {
        top: 130px;
        z-index: 1; }
        @media screen and (max-width: 1000px) {
          .section_process_blocks-block:nth-child(odd) {
            top: 0; } }
        @media screen and (max-width: 800px) {
          .section_process_blocks-block:nth-child(odd) {
            top: 0;
            left: 60%; } }
        @media screen and (max-width: 600px) {
          .section_process_blocks-block:nth-child(odd) {
            top: 0;
            left: 0; } }
      .section_process_blocks-block--header {
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 19px;
        text-align: center;
        padding: 2px 12px;
        border-radius: 10%; }
      .section_process_blocks-block--text {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        color: #6c788b;
        margin-top: 25px;
        margin-bottom: 15px;
        height: 80px; }
      .section_process_blocks-block--circle {
        display: inline-block;
        text-decoration: none;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-image: url("../images/1.png");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin-right: 15px; }
        .section_process_blocks-block--circle:hover {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }
        .section_process_blocks-block--circle:focus {
          -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.3);
                  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.3);
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }
      .section_process_blocks-block--link {
        position: relative;
        bottom: 15px;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 15px;
        line-height: 30px;
        text-align: center;
        color: #253757;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .section_process_blocks-block--link:hover {
          color: #6c788b;
          text-shadow: 0 9px 18px rgba(37, 41, 49, 0.1); }
        .section_process_blocks-block--link:focus {
          text-shadow: 3px 6px 6px rgba(37, 41, 49, 0.3); }
  .section_process .blockBlue .section_process_blocks-block--header {
    background-color: rgba(86, 204, 242, 0.1);
    color: #56ccf2; }
  .section_process .blockBlue .section_process_blocks-block--circle {
    background-color: #56ccf2; }
  .section_process .blockYellow .section_process_blocks-block--header {
    background-color: rgba(252, 201, 29, 0.1);
    color: #fcc91d; }
  .section_process .blockYellow .section_process_blocks-block--circle {
    background-color: #fcc91d; }
  .section_process .blockGreen .section_process_blocks-block--header {
    background-color: rgba(21, 216, 80, 0.1);
    color: #15d850; }
  .section_process .blockGreen .section_process_blocks-block--circle {
    background-color: #15d850; }
  .section_process .blockRed .section_process_blocks-block--header {
    background-color: rgba(243, 89, 89, 0.1);
    color: #f36363; }
  .section_process .blockRed .section_process_blocks-block--circle {
    background-color: #f36363; }

.section_approach {
  background-color: #ff9f8e;
  margin-left: 10%;
  border-radius: 200px 0 0 200px;
  height: 870px;
  padding: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media screen and (max-width: 1000px) {
    .section_approach {
      padding: 100px; } }
  @media screen and (max-width: 850px) {
    .section_approach {
      padding: 5%;
      height: auto;
      border-radius: 50px 0 0 50px; } }
  .section_approach_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white; }
  .section_approach_info {
    margin-right: 215px;
    width: 50%; }
    @media screen and (max-width: 1000px) {
      .section_approach_info {
        width: 100%;
        margin: 20px auto; } }
    @media screen and (max-width: 850px) {
      .section_approach_info {
        width: 100%;
        display: block;
        border-radius: 0 0 0 15%;
        margin: 5% auto; } }
  .section_approach_title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .section_approach_header {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .section_approach_item {
    margin-top: 32px;
    margin-bottom: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .section_approach_item:hover {
      text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8; }
    @media screen and (max-width: 1000px) {
      .section_approach_item {
        margin-top: 8px;
        margin-bottom: 16px; } }
  .section_approach_img {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    background-color: white;
    background-image: url("../images/features-item-icon-1.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 34px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
    .section_approach_img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      background-color: rgba(108, 120, 139, 0.4);
      border: white 1px solid; }
    @media screen and (max-width: 850px) {
      .section_approach_img {
        height: 40px;
        width: 40px; } }
    .section_approach_img--calendar {
      background-image: url("../images/features-item-icon-2.svg"); }
    .section_approach_img--document {
      background-image: url("../images/features-item-icon-3.svg"); }
  .section_approach_text {
    width: 300px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 150%; }
    @media screen and (max-width: 1000px) {
      .section_approach_text {
        width: 80%; } }
  .section_approach_photo {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
    height: 680px;
    background-image: url("../images/Photo.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 225px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media screen and (max-width: 1000px) {
      .section_approach_photo {
        width: 100%;
        height: 40%;
        display: block;
        border-radius: 0; } }
    @media screen and (max-width: 850px) {
      .section_approach_photo {
        display: none; } }

.section_testimonials {
  padding: 150px 227px;
  height: 745px; }
  .section_testimonials_container {
    height: 745px; }

.section_vision {
  height: 700px;
  position: relative;
  background-color: white; }

.decor__item {
  opacity: 0.5;
  border-radius: 500px; }
  .decor__item::before {
    position: absolute;
    display: block;
    content: "";
    border-radius: inherit;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
  .decor__item::after {
    position: absolute;
    display: block;
    content: "";
    border-radius: inherit;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }

.decor__item_1::before {
  width: 85px;
  height: 33px;
  border: 3px solid #f25656;
  top: 72px;
  left: 233px; }
  @media screen and (max-width: 500px) {
    .decor__item_1::before {
      display: none; } }

.decor__item_1::after {
  width: 67px;
  height: 26px;
  border: 5px solid #56ccf2;
  top: 370px;
  left: 82px; }
  @media screen and (max-width: 500px) {
    .decor__item_1::after {
      left: 150px; } }

.decor__item_2::before {
  width: 45px;
  height: 17px;
  border: 5px solid #fcc304;
  top: 465px;
  left: 481px; }
  @media screen and (max-width: 1300px) {
    .decor__item_2::before {
      display: none; } }

.decor__item_2::after {
  width: 45px;
  height: 17px;
  border: 3px solid #fcc304;
  top: 77px;
  left: 446px; }
  @media screen and (max-width: 850px) {
    .decor__item_2::after {
      display: none; } }

.decor__item_3::before {
  width: 153px;
  height: 60px;
  border: 3px solid #56ccf2;
  top: 413px;
  right: 143px; }
  @media screen and (max-width: 500px) {
    .decor__item_3::before {
      display: none; } }

.decor__item_3::after {
  width: 86px;
  height: 34px;
  border: 3px solid #fcc304;
  top: 276px;
  left: 67px; }

.decor__item_4::before {
  width: 45px;
  height: 17px;
  border: 3px solid #bc04fc;
  top: 514px;
  right: 552px; }
  @media screen and (max-width: 850px) {
    .decor__item_4::before {
      display: none; } }

.decor__item_4::after {
  width: 53px;
  height: 21px;
  border: 5px solid #bc04fc;
  top: 109px;
  right: 111px; }

.decor__item_5::before {
  width: 143px;
  height: 56px;
  border: 5px solid #03d542;
  top: 283px;
  left: 269px; }

.decor__item_5::after {
  width: 85px;
  height: 33px;
  border: 3px solid #f25656;
  top: 385px;
  right: 314px; }

@media screen and (max-width: 1000px) {
  .decor__item_5 {
    display: none; } }

.decor__item_6::before {
  width: 143px;
  height: 56px;
  border: 5px solid #03d542;
  top: 130px;
  right: 215px; }
  @media screen and (max-width: 700px) {
    .decor__item_6::before {
      display: none; } }

.decor__item_6::after {
  width: 93px;
  height: 36px;
  border: 5px solid #bc04fc;
  top: 518px;
  left: 131px; }
  @media screen and (max-width: 450px) {
    .decor__item_6::after {
      display: none; } }

html,
body {
  background-color: #f2f9ff; }

/*# sourceMappingURL=main.css.map */
